h1{
    text-align: center;
    font-size: 110px;
    margin: 0;
}
body{
    background-image: linear-gradient(to bottom right, rgb(61, 255, 190), rgb(247, 95, 39));
    border: 10px solid transparent;
}
.main1{
    display: flex;
    flex-wrap: nowrap;
    border: 1px dotted black;
    justify-content: space-between;
    background: url(https://img.freepik.com/free-vector/silhouette-underwater-scene-with-coral-reef-background_1308-29143.jpg?t=st=1676393810~exp=1676394410~hmac=dcf65f158732aa2adae58261b5a03cee3cb56eab2cc7a366a9ef7f8cd3e93912);
    background-size: cover;
    background-repeat: no-repeat;
}
.fishList{
   justify-content: space-evenly;
   display: flex;
   margin: 1em;
   flex-direction: row;
   flex-wrap: wrap;
   flex-basis: 85%;
   font-size: 18px;
   text-align: center;
   word-wrap: normal;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 180px;
    height: auto;
    padding: 1em;
    margin: 1em;
}
aside{
   flex-wrap: nowrap;
   font-size: 20px;
   margin: 1em;
   flex-basis: 34%;
   background-color: aquamarine;
   padding: 1em;
   height: 96vh;
   font-family: Arial, Helvetica, sans-serif;
}
.travelTips{
    font: 24px bold italic;
    font-family: Arial, Helvetica, sans-serif;
}
.locationsVisited{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
